NODE_ENV="production"
PROJECT_NAME="workerdiary"
DATABASE_HOST="postgres"
DATABASE_PORT="5432"
DATABASE_NAME="workerdiary"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
SERVER_PORT=3000
DATABASE_URL="postgres://postgres:postgres@localhost:5432/workerdiary?schema=public"
JWT_SECRET="abcdEFGH1234@#$%"
JWT_ACCESS_DURATION="1d"
JWT_REFRESH_DURATION="7d"
BASE_URL="http://localhost:3000"
FRONTEND_URL="https://workerdiary.com"
API_KEYS="dev123456,tes987654,web001122,and666777,ios212121"
HOST_USERNAME="wdapi"
HOST_PASSWORD="wdapi"
REDIS_HOST="localhost"
REDIS_PORT=6379
MAIL_FROM="admin@workerdiary.in"
MAIL_FROM_NAME="workerdiary"
SENDINBLUE_API_KEY="xkeysib-abcd1234"
ADMIN_MAIL="admin@workerdiary.in"
ADMIN_PASSWORD="admin1234"